* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* regole generali */

.paddingGenerale {
  padding: 0 10%;
}

.riga::after {
  content: "";
  clear: both;
  display: table;
}

.colonna25 {
  width: 25%;
  float: left;
  height: 100%;
  /* debug */
  border: 0.5px solid black;
}

.colonna33 {
  width: calc((100% / 3) - (140px / 3));
  float: left;
  height: 100%;
  /* debug */
  border: 0.5 solid black;
}

.colonna50 {
  width: 50%;
  float: left;
  height: 100%;
  /* debug */
  border: 0.5px solid black;
}

/* header */

header .fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 500;
  /* debug */
  border: 1px solid black;
  background-color: lightgrey;
}

header .navbar {
  height: 10vh;
  margin-top: 10vh;
  /* debug */
  background-color: white;
  border: 1px solid black;
  border-top: none;
}

header .intro {
  height: 80vh;
  background-color: #fff5ef;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

header .layoverHeader {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 10vh;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
  background-color: #afebe4;
  z-index: 450;
}

/* main */

/* sezione maincontent (prima) */
main .mainContent {
  /* debug */
  background-color: lightgrey;
  padding-top: 30px;
}

main .mainContent .cube {
  margin: 0 auto;
  margin-bottom: 30px;
  /* debug */
  height: 45vh;
  background-color: pink;
  padding-top: 30px;
}

main .mainContent .free {
  margin: 0 auto;
  margin-bottom: 30px;
  /* debug */
  height: 45vh;
  background-color: pink;
}

main .mainContent .divisions {
  height: 80vh;
  /* debug */
  padding-bottom: 30px;
}

main .mainContent .divisions .learnMore {
  background-color: red;
}

main .mainContent .divisions .learnMore.center {
  margin: 0 70px;
}

/* sezione community (seconda) */

main .community {
  background-color: #00aeb4;
  height: 500px;
  /* debug */
  padding: 50px 0;
}

main .community .learnAndGrow {
  /* debug */
  height: 150px;
  border: 1px solid white;
}

main .community .data {
  /* debug */
  height: 250px;
  border: 1px solid white;
}

/* sezione get started */

main .getStarted {
  background-color: white;
  height: 500px;
  padding: 50px 0;
}

main .getStarted .costumers {
  /* debug */
  height: 150px;
  border: 1px solid black;
}

main .getStarted .start {
  /* debug */
  height: 250px;
  border: 1px solid black;
}
/* footer */

footer {
  background-color: #32495b;
  height: 500px;
  padding: 25px 0;
}

footer .linksFooter {
  height: 250px;
  /* debug */
  border: 1px solid white;
}

footer .languages {
  height: 100px;
  /* debug */
  border: 1px solid white;
}

footer .copyright {
  height: 100px;
  /* debug */
  border: 1px solid white;
}
